// Clients layout
// --------------

.clients {
  margin: 11.089rem auto 0;
  max-width: 46.971rem;
}

// [1] Add a negative margin left to make up for the children's one. This way
//     the left is zeroed.
.brands {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -4.236rem; // [1]

  @media #{$max-xsmall} {
    margin-left: 0;
  }
}

// [1] We use Flexbox to handle the wrapping behavior, so we have no control on
//     wrapped item's margins. The workaround we use is to set top and left
//     margins to all items, and make up for them by setting a negative
//     margin-left and a margin-top equal to 0 to their parent container.
.brand {
  align-items: center;
  display: flex;
  height: 4.236rem;
  justify-content: center;
  margin: 4.236rem 0 0 4.236rem; // [1]
  width: 6.854rem;

  @media #{$max-xsmall} {
    margin: 4.236rem 1rem 0 1rem;
    width: calc((100% * 0.5) - 2rem);
  }
}
