// Contacts layout
// ---------------

.contacts {
  margin: 11.089rem auto 0;
  max-width: 75.999rem;

  @media #{$small-landscape} {
    margin: 6.854rem auto 0;
  }
}

.contacts-info-links-mail_info,
.contacts-info-links-mail_jobs, {
  font-size: 1.618rem;
}

.contacts-info-links-mail_jobs {
  margin-top: 1.618rem;
}

.contacts-info-links-mail_info a,
.contacts-info-links-mail_jobs a {
  font-weight: bold;
}

.contacts-info-address {
  color: $light-grey;
  margin-top: 6.854rem;

  @media #{$max-xsmall} {
    margin-top: 4.236rem;
  }

  @media #{$small-landscape} {
    margin-top: 4.236rem;
  }
}

.contacts-info-address-phone,
.contacts-info-address-vat {
  margin-top: 1rem;
}
