// Header
// ------

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1.618rem 2.618rem;
  position: absolute;
  top: 0;
  width: 100%;
}

// [1] Width includes e9 logo's width, so it's perfectely centered.
.nav {
  align-items: center;
  display: flex;
  width: calc(50% + 12px); // [1]

  @media #{$max-medium} {
    width: 100%;
  }
}

// [1] Fixes logo's height
// [2] Flex item has a margin-right auto so that it takes up any empty space.
//     This way the logo is fixed on the left side, while all other items
//     are positioned on the right.
.nav-logo_link {
  height: 21px; // [1]
  margin-right: auto; // [2]
}

// [1] Override svg inline sizes
.header-logo-svg {
  height: 100%; // [1]
  width: auto; // [1]
}

// [1] Overrides svg's path inline fill
.header-logo-svg > path {
  fill: $light-grey; // [1]
}

.body_blog .header-logo-svg > path {
  fill: $dark-grey; // [1]
}

.nav-items {
  display: flex;

  & > * + * {
    margin-left: 1.618rem;
  }
}

.nav-items > li {
  color: $light-grey;
  font-weight: bold;
}

.body_blog .nav-items > li {
  color: $dark-grey;
}
