// Header
// ------

// [1] Header is on a lower layer compared to the nav, this way all nav's links
//     are clickable.
.header {
  left: 0;
  padding: 1.618rem 2.618rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-header-large; // [1]

  // [1] Header is on an upper layer compared to the nav, this way header's
  //     items are visible.
  @media #{$max-small} {
    z-index: $z-header-small; // [1]
  }

  @media #{$max-xsmall} {
    padding: 1rem;
  }
}

// [1] Align the logo with the nav items.
.header-main_interactions {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4px; // [1]

  @media #{$max-medium} {
    justify-content: space-between;
  }

  @media #{$max-small} {
    width: 100%;
  }
}

// [1] Fixes logo's height
.header-main_interactions-logo {
  display: inline-block; // [1]
  height: 21px; // [1]
}

// [1] Override svg inline sizes
.header-main_interactions-logo .logo-e9 {
  height: 100%; // [1]
  width: auto; // [1]
}

// [1] Overrides svg's path inline fill
.header-main_interactions-logo .logo-e9 > path {
  fill: $light-grey; // [1]
}

.body_blog .header-main_interactions-logo .logo-e9 > path {
  fill: $dark-grey; // [1]
}

// [1] 'Menu' and 'close' buttons are shown only small screens.
// [2] Avoid text selection when user clicks on the button.
.open_nav,
.close_nav, {
  display: none; // [1]
  user-select: none; // [2]
}

.open_nav {
  @media #{$max-small} {
    display: block;
  }

  // When nav is shown, 'Menu' button is hidden
  &.open_nav.is-nav_shown {
    display: none;
  }
}

// 'Close' button has the same position of 'Open' button
.close_nav {
  position: absolute;
  right: 0;
  top: 0;

  // When nav is shown, 'Close' button is shown too
  &.close_nav.is-nav_shown {
    display: block;
  }
}


