// Hiring layout
// -------------

.hiring {
  margin: auto;
  max-width: 75.999rem;
  padding-top: 17.942rem;
}

// [1] Set a right padding to avoid an overlapping of main content and aside
//     buttons.
.hiring-positions {
  margin-right: 17.942rem;
  max-width: 46.971rem;
  padding-right: 1.618rem; // [1]
}

.hiring-intro p {
  color: $dark-grey;
  margin-top: 2.618rem;

  & > + * {
    margin-top: 1.618rem;
  }
}

.hiring-intro,
.position {
  padding-left: 4.236rem;
}

.position > .rich-text > * {
  color: $dark-grey;
  margin-top: 1.618rem;
}

.position {
  margin-top: 4.236rem;
  min-width: 17.942rem;
}

.position-selector {
  position: fixed;
  right: 6.854vw;
  top: 17.942rem;
}

.position-selector-container {
  margin: 2.618rem 0 0 4.236rem;

  & > * + * {
    margin-top: 2.618rem;
  }
}

.position-selector-title {
  max-width: 11.036rem;
  padding: 1rem 0 1rem 1rem;
  position: relative;

  // Adds a white line on the left of the single service
  &::after {
    border: 1px solid $white;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
}
