// Services layout
// ---------------

.services {
  margin: 11.089rem auto 0;
  max-width: 75.999rem;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin-top: 4.236rem;
  padding-left: 4.236rem;
}

// [1] Assign the same width to all services
.services-list-item {
  display: flex;
  flex: 1; // [1]
  flex-direction: column;
  justify-content: center;
  padding-right: 1.618rem;
  position: relative;
}

// [1] Assign the same height to all headings, so that all paragraphs start
//     from the same line.
.services-list-item-title {
  align-items: center;
  display: flex;
  flex: 1; // [1]
  max-width: 11.036rem;
  padding: 1rem 0 1rem 1rem;
  position: relative;

  // Adds a white line on the left of the single service
  &::after {
    border: 1px solid $white;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.services-list-item > p {
  color: $light-grey;
  margin: 0.618rem 0 0 1.618rem;
}

.services-contact {
  margin: 4.236rem 0 0 7.236rem;
  width: 29.03rem;
}

.services-contact-link {
  margin-top: 1.618rem;
}
