// Splash layout
// -------------

.splash {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: calc(76.999rem + 11.089rem);
  padding-bottom: 1rem;
  position: relative;
}

.splash-logo {
  align-self: center;
  flex: 1;
  margin-top: 29.03vh;
  width: 29.03rem;

  @media #{$max-xsmall} {
    width: 76.999vw;
  }

  @media #{$small-landscape} {
    width: 46.971vw;
  }
}

.splash-logo > svg {
  width: 100%;
}

.payoff {
  font-size: 1.618rem;
  margin-bottom: 4.236rem;

  @media #{$max-xsmall} {
    text-align: center;
  }

  // [1] Leave space for the scroll down icon
  @media #{$small-landscape} {
    margin-top: 4.236rem;
    max-width: 76.999vw; // [1]
  }
}
