// Splash layout
// -------------

.splash {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 122.966rem;
  padding-bottom: 1rem;
}

.splash-logo {
  align-self: center;
  flex: 1;
  margin-top: 29.03vh;
  width: 29.03rem;
}

.splash-logo > svg {
  width: 100%;
}

.payoff {
  font-size: 1.618rem;
  width: 29.03rem;
}

.splash-scrolldown {
  margin-top: 2.618rem;
  text-align: center;
}

.splash-scrolldown > svg {
  height: 18px;
}

.splash-scrolldown > svg > path {
  fill: $white;
}
