// Team layout
// -----------

.team {
  margin: 11.089rem auto 0;
  max-width: 75.999rem;

  @media #{$small-landscape} {
    margin: 6.854rem auto 0;
  }
}

// [1] Add a negative margin left to make up for the children's one. This way
//     the left is zeroed.
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1.618rem; // [1]
  padding: 0 4.236rem;

  @media #{$max-small} {
    margin-left: 0;
    padding: 0;
  }

  @media #{$max-xsmall} {
    padding: 0 0.618rem;
  }
}

// [1] Set three pictures per row, with a space between of 1.618rem.
// [2] We use Flexbox to handle the wrapping behavior, so we have no control on
//     wrapped item's margins. The workaround we use is to set a left margins
//     value to all items, and make up for them by setting a negative
//     margin-left to their parent container.
.teammate,
.teammate_hiring {
  margin-top: 6.854rem;
  margin-left: 1.618rem; // [2]
  position: relative;
  width: calc(33.33% - 1.618rem); // [1]

  @media #{$max-medium} {
    width: calc(50% - 4.236%); // [1]
  }

  @media #{$max-small} {
    margin-left: 0;
  }

  @media #{$max-xsmall} {
    width: 100%;
  }

  // Select every 3th item starting from the 2nd one.
  &:nth-child(3n+2) {
    @media #{$min-medium} {
      top: 2.618rem;
    }
  }
}

.teammate-figure {
  position: relative;

  // Add a background to the picture keeping the teammate's drop shadow visible.
  &::before {
    background-color: $white;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Add a shadow behind the teammate silhouette
.teammate-figure-picture {
  filter: drop-shadow(0 10px 16px transparentize($black, 0.5));
  width: 100%;
}

.teammate-info {
  margin-top: 1.618rem;
  text-align: center;
}

.teammate-info-name {
  font-size: 1rem;
}

.teammate-info-role {
  color: $light-grey;
  margin-top: 1rem;
}

.teammate-social {
  display: flex;
  justify-content: center;
  margin-top: 1.618rem;

  & > * + * {
    margin-left: 1.618rem;
  }
}

.teammate-social img {
  height: 18px;
}

// Set an aspect ratio of 1:1 to obtain a squared div.
// [1] pseudo element's margin-top value relates to the parent's width,
//     creating a div as high as wide.
.teammate_hiring {
  align-self: flex-start;
  box-shadow: $image-shadow;
  position: relative;

  &::before {
    content: "";
    display: block;
    margin-top: 100%;
  }
}

// Center the content to its parent.
.teammate_hiring-content {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 1.618rem;
  position: absolute;
  right: 0;
  top: 0;
}

.teammate_hiring-description {
  color: $light-grey;
  margin-top: 1rem;
  text-align: center;
}
