// Works layout
// ------------

.works {
  margin: 11.089rem auto 0;
  max-width: 75.999rem;

  @media #{$small-landscape} {
    margin: 6.854rem auto 0;
  }
}

.works-container {
  margin-top: 6.854rem;

  @media #{$max-xsmall} {
    margin-top: 4.236rem;
  }

  // Add space between single works
  & > * + * {
    margin-top: 11.089rem;

    @media #{$max-xsmall} {
      margin-top: 6.854rem;
    }

    @media #{$small-landscape} {
      margin-top: 6.854rem;
    }
  }
}

.work {
  display: flex;
  padding: 0 4.236rem;

  @media #{$max-medium} {
    flex-direction: column;
  }

  @media #{$max-medium} {
    padding: 0;
  }

  // Every odd case will be shifted a little to the right
  &:nth-child(odd) {
    @media #{$min-medium} {
      padding-left: 4.236rem;
    }
  }

  // Every even case will be shifted a little to the left
  &:nth-child(even) {
    @media #{$min-medium} {
      padding-right: 4.236rem;
    }
  }
}

// Apply those style only on the works template.
// [1] Align description and image to the center of the vertical axes.
.works_page .work {
  @media #{$min-medium} {
    align-items: center; // [1]
  }
}

// For every odd case:
// [1] Align text to the right
// [2] set a padding right to the info container in order to add
//     space between it and the image.
// [3] Align items to the right
.work:nth-child(odd) > .work-info {
  transform: translate3d(-1.618rem, 0, 0);

  &.is-sliding_shown {
    transform: translate3d(0, 0, 0);
  }

  @media #{$min-medium} {
    align-items: flex-end; // [3]
    padding: 0 4.236rem 0 0; // [2]
    text-align: right; // [1]
  }
}

// For every even case:
// [1] Reverse the order of info and image
// [2] Set a padding left to the info container in order to add space between
//     it and the image.
.work:nth-child(even) > .work-info {
  transform: translate3d(1.618rem, 0, 0);

  &.is-sliding_shown {
    transform: translate3d(0, 0, 0);
  }

  @media #{$min-medium} {
    order: 2; // [1]
    padding: 0 0 0 4.236rem; // [2]
  }
}

.work-info {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;

  @media #{$max-medium} {
    margin-top: 2.618rem;
    max-width: 46.971rem;
    order: 1;
  }

  @media #{$max-xsmall} {
    margin-top: 1.618rem;
  }

  @media #{$small-landscape} {
    margin-top: 1.618rem;
  }
}

// Reveal each work description
.work.is-element_revealed > .work-info {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.work-image {
  flex: 2;
  margin-top: 4.236rem;
  opacity: 0;
  position: relative;
  transition: opacity 1s;

  @media #{$max-medium} {
    margin-top: 0;
  }

  // Create a div which overlaps the image needed to do the sliding transition.
  &::after {
    background-color: $black;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.618s 0.618s;
  }
}

// Apply those style only on the works template.
.works_page .work-image {
  margin-top: 0;
}

// Reveal each work figure
.work.is-element_revealed > .work-image {
    opacity: 1;

    &::after {
      transform: scale3d(0, 1, 1);
    }
  }

// Sliding transition start from the left
.work:nth-child(odd) > .work-image::after {
  transform-origin: left;
}

// Sliding transition start from the right
.work:nth-child(even) > .work-image::after {
  transform-origin: right;
}

.work-info-type {
  margin-top: 1rem;
}

.work-info-description {
  color: $light-grey;
  margin-top: 1.618rem;
}

.work-info-button {
  margin-top: 2.618rem;
}
