.footer {
  background-color: $dark-grey;
  background: linear-gradient(to bottom, darken($dark-grey, 4) 0%, darken($dark-grey, 4) 100%), linear-gradient(to bottom, $dark-grey 0%, $dark-grey 100%), linear-gradient(to bottom, darken($dark-grey, 8) 0%, darken($dark-grey, 8) 100%), linear-gradient(to bottom, darken($dark-grey, 4) 0%, darken($dark-grey, 4) 100%), linear-gradient(to bottom, $dark-grey 0%, $dark-grey 100%), linear-gradient(to bottom, darken($dark-grey, 8) 0%, darken($dark-grey, 8) 100%), linear-gradient(to right, darken($dark-grey, 8) 4%, $dark-grey 4%, $dark-grey 8%, darken($dark-grey, 8) 8%, darken($dark-grey, 8) 10%, darken($dark-grey, 6) 10%, darken($dark-grey, 6) 11%, darken($dark-grey, 4) 11%, darken($dark-grey, 4) 13%, $dark-grey 13%, $dark-grey 15%, darken($dark-grey, 4) 15%, darken($dark-grey, 4) 17%, darken($dark-grey, 6) 17%, darken($dark-grey, 6) 21%, darken($dark-grey, 8) 21%, darken($dark-grey, 8) 27%, darken($dark-grey, 6) 27%, darken($dark-grey, 6) 34%, $dark-grey 34%, $dark-grey 36%, darken($dark-grey, 8) 36%, darken($dark-grey, 8) 40%, darken($dark-grey, 6) 40%, darken($dark-grey, 6) 44%, $dark-grey 44%, $dark-grey 52%, darken($dark-grey, 6) 52%, darken($dark-grey, 6) 54%, darken($dark-grey, 8) 54%, darken($dark-grey, 8) 60%, darken($dark-grey, 6) 60%, darken($dark-grey, 6) 64%, $dark-grey 64%, $dark-grey 70%, darken($dark-grey, 8) 70%, darken($dark-grey, 8) 72%, darken($dark-grey, 4) 72%, darken($dark-grey, 4) 73%, darken($dark-grey, 6) 73%, darken($dark-grey, 6) 74%, $dark-grey 74%, $dark-grey 75%, darken($dark-grey, 8) 75%, darken($dark-grey, 8) 76%, $dark-grey 76%, $dark-grey 81%, darken($dark-grey, 4) 81%, darken($dark-grey, 4) 85%, darken($dark-grey, 8) 85%, darken($dark-grey, 8) 88%, $dark-grey 88%, $dark-grey 89%, darken($dark-grey, 8) 89%, darken($dark-grey, 8) 92%, darken($dark-grey, 4) 92%, darken($dark-grey, 4) 94%, $dark-grey 94%, $dark-grey 96%, darken($dark-grey, 8) 96%, darken($dark-grey, 8) 99%, darken($dark-grey, 4) 99%, darken($dark-grey, 4) 99.5%, darken($dark-grey, 6) 99.5%);
  background-position: 12%, 23%, 48%, 55%, 59%, 64%, 0%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  background-size: 2% 100%, 3% 100%, 5% 100%, 2% 100%, 1% 100%, 2% 100%, 100% 1em;
  padding: 4.172em 0;
  position: relative;
  width: 100%;

  @media #{$small} {
    padding: 2.618em 0 0.618em;
  }
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 2.618em 0;

  & > * {
    width: 25%;

    @media #{$medium}, #{$large} {
      width: 33%;
    }

    @media #{$small} {
      width: 100%;
    }
  }

  @media #{$medium}, #{$large} {
    padding-left: 2.618em;
  }

  @media #{$small} {
    flex-direction: column;
    padding: 2.618em 1.618em;
    text-align: center;

    & > * + * {
      margin-top: 2.618em;
    }
  }
}

.footer-container-heading {
  order: 3;
  text-align: center;

  @media #{$small} {
    order: 1;
  }
}

.footer-container-heading .heading {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: center center;
  width: 220px;

  @media #{$small} {
    transform: none;
  }
}

.footer-container-heading .heading text {
  font-size: 2.618rem;
}

.footer-container-social {
  order: 1;

  & > * + * {
    margin-top: 1.618em;
  }

  @media #{$small}, #{$medium}, #{$large} {
    order: 3;
  }
}

.footer-container-social .button {
  @media #{$medium}, #{$large} {
    margin-left: auto;
  }

  @media #{$small} {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-container-contacts {
  order: 2;
}

.footer-container-contacts ul > * + * {
  margin-top: 1.618em;
}

.footer-copy {
  bottom: 1.618em;
  color: $light-grey;
  left: 1.618%;
  position: absolute;

  @media #{$small} {
    position: static;
    text-align: center;
  }
}
