// Base
// ----

body {
  font: 18px 'Inconsolata', sans-serif;
  height: 100%;
  line-height: 1.5;
}

// lobotomized Owl Selector - All elements in the flow of the document that precede other elements will receive margin-top: 1.618em
* + * {
  margin-top: 1.618em;
}

section {
  height: 100%;
}