// Reset frameworks
@import "../../../vendors/normalize-css/normalize";

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

a[href^=tel] {
  color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}