# base stuff
django
django-getenv
django-redis
dj-database-url
psycopg2
pytz

# third parties
django-s3-storage
whitenoise

# the website
wagtail
pygments

# application server
uwsgi

# logging
python-logstash

# monitoring
newrelic
raven
