.footer {
  background-color: $dark-grey;
  padding: 4.172em 0;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  padding: 2.618em 0;

  & > * {
    width: 25%;
  }

  & * + * {
    margin-top: 1.618em;
  }
}

.footer-container-heading {
  text-align: center;
}

.footer-container-heading-h2 {
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: center center;
}

.footer-copy {
  bottom: 1.618em;
  color: $light-grey;
  left: 1.618%;
  position: absolute;
}
