.works {
  background: url("../../../static/image/squares.png");
  height: 100%;

  @media #{$small}, #{$medium}, #{$large} {
    height: auto;
    padding: 10% 0;
  }
}

.works-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;

  @media #{$small}, #{$medium}, #{$large} {
    flex-direction: column;
  }
}

.works-container-offset {
  flex-basis: 15%;

  @media #{$small}, #{$medium}, #{$large} {
    display: none;
  }
}

.works-container-slider {
  flex-basis: 35%;

  @media #{$small}, #{$medium}, #{$large} {
    flex-basis: auto;
    text-align: center;
    width: 62%;
  }

  @media #{$small} {
    width: 85%;
  }
}

.works-container-slider-button {

  @media #{$small}, #{$medium}, #{$large} {
    margin: auto;
  }
}

.works-container-cornice {
  flex-basis: 47.6%;
  overflow: hidden;
  position: relative;

  @media #{$small}, #{$medium}, #{$large} {
    flex-basis: auto;
    margin-top: 4.2em;
    width: 80%;
  }
}

.works-container-cornice-round {
  width: 100%;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    position: absolute;
    top: 0;
  }

  &:nth-of-type(2) {
    opacity: 0.75;
    transform: rotate(90deg);
  }

  &:nth-of-type(3) {
    opacity: 0.5;
    transform: rotate(135deg);
  }
}