.people {
  background-color: $dark-grey;
  height: 100%;
  position: relative;
}

.people-header {
  background: linear-gradient(to bottom, rgba(36, 37, 40, 0.95) 35%, rgba(36, 37, 40, 0.7) 65%, transparent 100%);
  color: $white;
  padding: 2.618em 5% 5%;
  position: absolute;
  width: 90%;

  span {
    color: $light-green;
  }
}

.people-header-heading {
  font-style: italic;
}

.people-column {
  background: radial-gradient(ellipse farthest-corner at 45px 45px, $light-grey -82%, transparent 50%, $dark-grey 95%);
  border-right: 1px solid $light-grey;
  float: left;
  height: 100%;
  width: 12.4%;

  &:last-child {
    border: none;
  }
}

.people-column-person {
  background: url("../../../static/svg/man.svg") no-repeat 65% -75%;
  background-size: 190%;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 100%;
}