.people {
  background-color: $dark-grey;
  height: 100%;
  position: relative;
}

.people-header {
  background: linear-gradient(to bottom, rgba(36, 37, 40, 0.95) 35%, rgba(36, 37, 40, 0.7) 65%, transparent 100%);
  color: $white;
  padding: 2.618em 5% 5%;
  position: absolute;
  width: 90%;

  span {
    color: $light-green;
  }
}

.people-header-heading {
  font-style: italic;
}

.people-container {
  display: flex;
  height: 100%;
}

.people-container-person {
  background: url("../../../static/svg/man.svg") no-repeat 65% 100%, radial-gradient(ellipse farthest-corner at 45px 45px, $light-grey -82%, transparent 50%, $dark-grey 95%);
  height: 100%;
  width: 100%;
}