.template-404,
.template-500 {
  height: 100%;
}

.template-404 .footer,
.template-500 .footer {
  bottom: 0;
  position: fixed;

  @media #{$small}, #{$medium} {
    position: relative;
  }
}

.header-404,
.header-500 {
  background-color: $dark-grey;
  display: flex;
  padding: 1.618em;

  @media #{$small}, #{$medium} {
    justify-content: center;
  }
}

.header-404-logo,
.header-500-logo{
  width: 150px;
}

.container-404,
.container-500 {
  color: $light-grey;
  font-family: 'Roboto', sans-serif;
  padding: 4.236em 1.618em;
  text-align: center;

  @media #{$small}, #{$medium} {
    min-height: 50vh;
  }
}
