{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailimages_tags %}


{% block content %}
<header class="header"></header>

<section class="splash">
    <div class="splash-cornice">
        <img class="splash-menu-closed js-inject-svg" src="{% static 'svg/menu-closed.svg' %}">
        <img class="splash-logo js-inject-svg" src="{% static 'svg/evonove-logo-xl.svg' %}">
        <a class="button center">
            <span>blog</span>
        </a>
    </div>
</section>

<section class="expertise">
    <div class="expertise-container">
        {% for service in page.services.all|slice:":3" %}
        <div class="expertise-container-textbox">
            <h2 class="expertise-container-textbox-heading">{{ service.slogan }}</h2>
            <h3 class="expertise-container-textbox-subheading">{{ service.technologies }}</h3>
            <p class="expertise-container-textbox-paragraph">{{ service.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="works">
    <div class="works-container">
        {# Actually the animation is missing #}
        {# and this section is not completed #}
        {% for work in page.works.all %}
        <div class="works-container-offset"></div>
        <div class="works-container-slider">
            <div class="works-column-slider-textbox">
                <h1>WORKS</h1>
                <h2>{{ work.name }}</h2>
                <p>{{ work.description }}</p>
            </div>
            <a class="button button-icon works-container-slider-button">
                <span>+</span>
            </a>
        </div>
        <div class="works-container-cornice">
            <img class="works-container-cornice-round js-inject-svg" src="{% static 'svg/rounded-particles.svg' %}" />
            <img class="works-container-cornice-round js-inject-svg" src="{% static 'svg/rounded-particles.svg' %}" />
            <img class="works-container-cornice-round js-inject-svg" src="{% static 'svg/rounded-particles.svg' %}" />
            <figure class="works-container-cornice-pic">
                {% image work.cover original class="works-container-cornice-pic-project" %}
            </figure>
        </div>
        {% endfor %}
    </div>
</section>

<section class="people">
    <div class="people-header">
        <h2 class="people-header-heading">Evonove is made of <span>people</span></h2>
    </div>
    <div class="people-container">
        {% for member in page.team.all %}
        <div class="people-container-person">
            <div class="people-container-person-description">
                {# Team member detail #}
                <h2>{{ member.full_name }}</h2>
                <h3>{{ member.role }}</h3>
                <p>{{ member.bio }}</p>

                {# Put here all possible social links #}
                {% include "home/partials/social_link.html" with link=member.website svg="website" %}
                {% include "home/partials/social_link.html" with link=member.github svg="github" %}
                {% include "home/partials/social_link.html" with link=member.stackoverflow svg="stackoverflow" %}
                {% include "home/partials/social_link.html" with link=member.twitter svg="twitter" %}
                {% include "home/partials/social_link.html" with link=member.gplus svg="gplus" %}
                {% include "home/partials/social_link.html" with link=member.facebook svg="facebook" %}
                {% include "home/partials/social_link.html" with link=member.linkedin svg="linkedin" %}
                {% include "home/partials/social_link.html" with link=member.medium svg="medium" %}
                {% include "home/partials/social_link.html" with link=member.behance svg="behance" %}
                {% include "home/partials/social_link.html" with link=member.dribbble svg="dribbble" %}
                {% include "home/partials/social_link.html" with link=member.flickr svg="flickr" %}
                {% include "home/partials/social_link.html" with link=member.tumblr svg="tumblr" %}
                {% include "home/partials/social_link.html" with link=member.deviantart svg="deviantart" %}
                {% include "home/partials/social_link.html" with link=member.pinterest svg="pinterest" %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
