{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
<header class="header"></header>

<section class="splash">
    <div class="splash-cornice">
        <img class="splash-menu-closed js-inject-svg" src="{% static 'svg/menu-closed.svg' %}">
        <img class="splash-logo js-inject-svg" src="{% static 'svg/evonove-logo-xl.svg' %}">

        {% slugurl "blog" as blog_link %}
        <a class="button center" {% if blog_link %}href="{{ blog_link }}"{% endif %}>
            <span>Blog</span>
        </a>
        <a class="splash-cornice-scrolldown">
            <span>or scroll down</span>
            <img class="splash-cornice-scrolldown-downarrow js-inject-svg" src="{% static 'svg/down-arrow.svg' %}">
        </a>
    </div>
</section>

<section class="expertise">
    <div class="expertise-container">
        {% for service in page.services.all|slice:":3" %}
        <div class="expertise-container-textbox">
            <h2 class="expertise-container-textbox-heading">{{ service.slogan }}</h2>
            <h3 class="expertise-container-textbox-subheading">{{ service.technologies }}</h3>
            <p class="expertise-container-textbox-paragraph">{{ service.description }}</p>
        </div>
        {% empty %}
            <div class="full-width text-center"><h2>This section is empty, update the page <a href="{% url 'wagtailadmin_pages:edit' page.id %}">using the admin.</a></h2></div>
        {% endfor %}
    </div>
</section>

<section class="works">
    <div class="works-container">
        {% if page.works.all %}
        <div class="works-container-offset"></div>
        <div class="works-container-project">
            <h1>WORKS</h1>
            <div class="works-container-project-slider">
                <ul>
                    {% for work in page.works.all %}
                        <li class="works-container-project-slider-slide">
                            <h2>{{ work.name }}</h2>
                            <p>{{ work.description }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="works-container-project-navigator">
                <div class="works-container-project-navigator-left">
                    <img class="js-inject-svg" src="{% static 'svg/left-arrow.svg' %}">
                </div>
                <div class="works-container-project-navigator-right">
                    <img class="works-container-project-navigator-right js-inject-svg" src="{% static 'svg/right-arrow.svg' %}">
                </div>
            </div>
            <a class="button button-icon works-container-project-buttonplus">
                <span>+</span>
            </a>
        </div>
        <div class="works-container-projectimage">
            <div class="works-container-projectimage-circles">
                <img class="works-container-projectimage-circles-particles js-inject-svg" src="{% static 'svg/rounded-particles.svg' %}" />
                <img class="works-container-projectimage-circles-particles js-inject-svg" src="{% static 'svg/rounded-particles.svg' %}" />
                <img class="works-container-projectimage-circles-particles js-inject-svg" src="{% static 'svg/rounded-particles.svg' %}" />
            </div>
            <div class="works-container-projectimage-carousel">
                <div class="works-container-projectimage-carousel-boxslides">
                    {% for work in page.works.all %}
                    <figure class="works-container-projectimage-carousel-boxslides-figure">
                        {% image work.cover original class="works-container-projectimage-carousel-boxslides-figure-image" %}
                    </figure>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
            <div class="full-width text-center"><h2>This section is empty, update the page <a href="{% url 'wagtailadmin_pages:edit' page.id %}">using the admin.</a></h2></div>
        {% endif %}
    </div>
</section>

<section class="people">
    <div class="people-header">
        {% if page.team.count %}
            <h2 class="people-header-heading">Evonove is made of <span>people</span></h2>
        {% else %}
        <h2 class="people-header-heading">Evonove is made of no one :-(</h2>
        <h2 class="people-header-heading"><a href="{% url 'wagtailadmin_pages:edit' page.id %}">Add someone using the admin.</a></h2>
        {% endif %}
    </div>
    <div class="people-container">
        {% for member in page.team.all %}
        <div class="people-container-person">
            {% image member.photo original class="people-container-person-photo" %}
            <div class="people-container-person-description">
                {# Team member detail #}
                <h2>{{ member.full_name }}</h2>
                <h3>{{ member.role }}</h3>
                <p>{{ member.bio|richtext }}</p>

                {# Put here all possible social links #}
                {% include "home/partials/social_link.html" with link=member.website svg="website" %}
                {% include "home/partials/social_link.html" with link=member.github svg="github" %}
                {% include "home/partials/social_link.html" with link=member.stackoverflow svg="stackoverflow" %}
                {% include "home/partials/social_link.html" with link=member.twitter svg="twitter" %}
                {% include "home/partials/social_link.html" with link=member.gplus svg="gplus" %}
                {% include "home/partials/social_link.html" with link=member.facebook svg="facebook" %}
                {% include "home/partials/social_link.html" with link=member.linkedin svg="linkedin" %}
                {% include "home/partials/social_link.html" with link=member.medium svg="medium" %}
                {% include "home/partials/social_link.html" with link=member.behance svg="behance" %}
                {% include "home/partials/social_link.html" with link=member.dribbble svg="dribbble" %}
                {% include "home/partials/social_link.html" with link=member.flickr svg="flickr" %}
                {% include "home/partials/social_link.html" with link=member.tumblr svg="tumblr" %}
                {% include "home/partials/social_link.html" with link=member.deviantart svg="deviantart" %}
                {% include "home/partials/social_link.html" with link=member.pinterest svg="pinterest" %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
