{% load wagtailcore_tags wagtailimages_tags %}


{% for child in content %}
    {% if child.block_type == 'h2' %}
        <h2 class="article-title">{{ child }}</h2>
    {% elif child.block_type == 'h3' %}
        <h3 class="article-subtitle">{{ child }}</h3>
    {% elif child.block_type == 'pullquote' %}
        <blockquote>
            {{ child.value.quote }}
            {% if child.value.attribution %}<span>- {{ child.value.attribution }}</span>{% endif %}
        </blockquote>
    {% elif child.block_type == 'paragraph' %}
        {{ child.value|richtext }}
    {% elif child.block_type == 'aligned_image' %}
        <figure class="article-picture">
            {% image child.value.image original as image %}
            <img src="{{ image.url }}" class="article-picture-img {{ child.value.alignment }}" alt="{{ image.alt }}" />

            {% if child.value.caption %}
                <div class="caption">
                    {{ child.value.caption|richtext }}
                </div>
            {% endif %}
        </figure>
    {% else %}
        {{ child }}
    {% endif %}
{% endfor %}
