{% extends "blog_base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load blog_tags %}

{% block body_class %}body_blog{% endblock %}

{% block blog_main %}
<div class="blog">
  <div class="blog-intro">
    <h2>{{ page.blog_subtitle|richtext }}</h2>
  </div>
  <div class="blog-container">
    {% for article in articles %}
      <article class="post_preview">
        <div class="post_preview-image">
          <a href="{% pageurl article %}" class="article-link">
              {% if article.cover %}
              <figure>
                {% image article.cover original as cover %}
                <img src="{{cover.url}}" />
              </figure>
              {% endif %}
          </a>
        </div>
        <div class="post_preview-info">
          <h2>{{ article.title }}</h2>
          <div class="post_preview-info-metadata u-capitalize">
            <span class="post_preview-info-metadata-author">{{ article.owner.get_full_name|default:article.owner }}</span>
            <span class="post_preview-info-metadata-separator">·</span>
            <span class="post_preview-info-metadata-date">{{ article.date|date:"N d, Y" }}</span>
          </div>
          <p class="post_preview-info-description">{{ article.intro }}</p>
          <a href="{% pageurl article %}" class="button post_preview-info-link">Read more</a>
        </div>
      </article>
    {% endfor %}
  </div>
</div>
{% endblock blog_main %}
