{% extends "blog_base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block blog_main %}
<div class="main">
    <div class="list">
        {% for article in articles %}
        <div class="list-block">
            <article class="article">
                <h2 class="article-title">{{ article.title }}</h2>
                <div class="article-meta">
                    <a class="article-meta-author">Alessio Rapini</a>
                    <span class="article-meta-divider">·</span>
                    <span class="article-meta-date">{{ article.date|date:"N d, Y" }}</span>
                </div>

                {% if article.cover %}
                    <figure class="article-preview">
                        {% image article.cover original class="article-preview-img" %}
                    </figure>
                {% endif %}

                <p class="article-post">{{ article.intro }}</p>
            </article>
            <a href="{% pageurl article %}" class="list-block-readmore">Read more...</a>
            <div class="list-block-divider"></div>
        </div>
        {% endfor %}
       <ul class="paginator list-paginator" role="menubar">
            <li class="paginator-first"><a href=""><img class="paginator-icon js-inject-svg" src="{% static 'svg/left-double-arrows.svg' %}"></a></li>
            <li class="paginator-previous"><a href=""><img class="paginator-icon js-inject-svg" src="{% static 'svg/left-arrow.svg' %}"></a></li>
            <li class="paginator-page"><a href="">1</a></li>
            <li class="paginator-page"><a href="">2</a></li>
            <li class="paginator-page"><a href="">3</a></li>
            <li class="paginator-page is-current"><a href="">4</a></li>
            <li class="paginator-page"><a href="">5</a></li>
            <li class="paginator-page"><a href="">6</a></li>
            <li class="paginator-page"><a href="">7</a></li>
            <li class="paginator-page"><a href="">8</a></li>
            <li class="paginator-page"><a href="">9</a></li>
            <li class="paginator-page"><a href="">10</a></li>
            <li class="paginator-next"><a href=""><img class="paginator-icon js-inject-svg" src="{% static 'svg/right-arrow.svg' %}"></a></li>
            <li class="paginator-last"><a href=""><img class="paginator-icon js-inject-svg" src="{% static 'svg/right-double-arrows.svg' %}"></a></li>
        </ul>
    </div>
    <div class="sidebar">
        <h3 class="sidebar-heading">Featured Tags</h3>
        <ul class="sidebar-taglist">
            <li><a href="">Lorem</a></li>
            <li><a href="">Ipsum</a></li>
            <li><a href="">Dolor</a></li>
            <li><a href="">Sit</a></li>
            <li><a href="">Amet</a></li>
            <li><a href="">Neque</a></li>
            <li><a href="">Porro</a></li>
            <li><a href="">Quisquam</a></li>
            <li><a href="">Est</a></li>
            <li><a href="">Qui</a></li>
        </ul>
    </div>
</div>
{% endblock blog_main %}
