{% extends "blog_base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load blog_tags %}

{% block body_class %}body_blog{% endblock %}

{% block blog_main %}
<section class="blog first_section">
  <div class="blog-intro">
    <h2>{{ page.blog_subtitle|richtext }}</h2>
  </div>
  <div class="blog-container">
    {% for article in articles %}
      <article class="post_preview js-reveal_article">
        <div class="post_preview-image">
          <a href="{% pageurl article %}" class="article-link">
            {% if article.cover %}
            <figure class="post_preview-image-figure">
              {% image article.cover original as cover %}
              <img src="{{cover.url}}" />
            </figure>
            {% endif %}
          </a>
        </div>
        <div class="post_preview-info -u-element_to_reveal -u-reveal_from_right">
          <a href="{% pageurl article %}">
            <h2>{{ article.title }}</h2>
          </a>
          <div class="post_preview-info-metadata u-capitalize">
            <span class="post_preview-info-metadata-author">{{ article.owner.get_full_name|default:article.owner }}</span>
            <span class="post_preview-info-metadata-separator">·</span>
            <span class="post_preview-info-metadata-date">{{ article.date|date:"N d, Y" }}</span>
          </div>
          <p class="post_preview-info-description">{{ article.intro }}</p>
          <a href="{% pageurl article %}" class="button post_preview-info-link">Read more</a>
        </div>
      </article>
    {% endfor %}
  </div>

  {% include 'partials/blog-paginator.html' %}
</section>
{% endblock blog_main %}
