{% extends "blog_base.html" %}

{% load static from staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load gravatar %}

{% block body_class %}body_blog{% endblock %}

{% block blog_main %}
<article class="post">
  <div class="post-metadata u-capitalize">
    <figure class="post-metadata-author_picture">
      <img src="{% gravatar_url page.owner.email 25 %}">
    </figure>
    <div class="post-metadata-container">
      <span class="post-metadata-author">{{ page.owner.get_full_name|default:page.owner }}</span>
      <span class="post-metadata-separator">·</span>
      <span class="post-metadata-date">{{ page.date|date:"N d, Y" }}</span>
    </div>
  </div>
  <h2 class="post-title">{{ page.title }}</h2>
  <p class="post-intro">{{ page.intro }}</p>
  <figure class="post-intro_picture">
    <img src="http://lorempixel.com/output/people-q-c-640-480-3.jpg">
  </figure>
  {% include "partials/streamfield.html" with content=self.body %}
</article>


<div class="related_posts">
  {% for article in similar_articles %}
    <div class="related_posts-post">
      <figure class="related_posts-post-picture">
        <a href="{{ article.url }}">
          {% image article.cover original %}
        </a>
      </figure>
      <h2 class="related_posts-post-title">{{ article.title }}</h2>
      <div class="related_posts-post-metadata u-capitalize">
        <span class="related_posts-post-metadata-author">{{ article.owner.get_full_name }}</span>
        <span>·</span>
        <span>{{ article.date|date:"N d, Y"}}</span>
      </div>
      <p class="related_posts-post-description">{{ article.intro }}</p>
      <a href="{{ article.url }}">Read more</a>
    </div>
  {% endfor %}
</div>
{% endblock blog_main %}
