/* main button */

.button {
  border: 1px solid $dark-green;
  color: $light-green;
  cursor: pointer;
  font: $span-button 'Oswald';
  display: block;
  height: $button-height;
  left: $button-shift-left;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 148px;

  &::before {
    content: '';
    border: 1px solid $light-green;
    height: 48px;
    left: -$button-shift-left;
    position: absolute;
    top: 3px;
    width: 156px;
  }
}

.button span {
  line-height: $button-height;
}

/* icon button */

.button-icon {
  height: $button-height - 8;
  width: 40px;

  &::before {
    height: 40px;
    width: $button-height - 8;
  }
}

.button-icon span {
  font-size: $span-button-icon;
  line-height: $button-height - 8;
}