.heading {
  display: block;
  height: 95px;

  @media #{$small} {
    height: 65px;
  }
}

.heading text {
  fill-opacity: 0;
  font: 6.854rem Roboto, sans-serif;
  text-transform: uppercase;

  &.bottom {
    stroke: $dark-green;
  }

  &.top {
    stroke: $light-green;
    transform: translate(5px, 5px);
  }

  @media #{$small} {
    display: none;
  }
}

.heading text.mobile {
  display: none;
  font-size: 3.6rem;

  @media #{$small} {
    display: block;
  }
}
