.paginator li {
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  margin-right: 1.618%;
}

.paginator-icon {
  fill: $dark-grey;
  width: 14px;
}

// Shift the previous and next icons a little higher to align with other elements
.paginator-previous svg,
.paginator-next svg {
  position: relative;
  top: -3px;
}

// First and last icons are a little wider to match the other paginator icons'
// size
.paginator-first,
.paginator-last {
  width: 16px;
}

// Rotate the previous icon to the left
.paginator-previous svg {
  transform: rotate(90deg);
}

// Rotate the next icon to the left
.paginator-next svg {
  transform: rotate(270deg);
}

// Rotate the last icon to the right
.paginator-last svg {
  transform: rotate(180deg);
}

li.paginator-page {
  @media #{$small}, #{$medium} {
    display: none;
  }
}

li.paginator-page.is-current {
  @media #{$small}, #{$medium} {
    display: inline-block;
  }
}

li.paginator-page > a {
  color: $dark-grey;
}

li.paginator-page.is-current {
  color: $light-green;
}
