{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}


<header class="header"></header>

<section class="splash">
    <div class="splash-cornice">
        <svg class="splash-menu-closed" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 504 503.9">
            <path class="st0" d="M0 0h100v100H0zM202 0h100v100H202zM404 0h100v100H404zM0 202h100v100H0zM202 202h100v100H202zM404 202h100v100H404zM0 403.9h100v100H0zM202 403.9h100v100H202zM404 403.9h100v100H404z"/>
        </svg>
        <svg class="splash-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.26 107.08">
            <defs>
                <style>.cls-1{fill:#fff;}.cls-2{fill:#3bb3b6;}</style>
            </defs>
            <title>evonove</title>
            <g id="g366"><path id="path368" class="cls-1" d="M435.23 72.91v6.14a28 28 0 0 0 56 0V28A27 27 0 0 0 483 8.24a27.75 27.75 0 0 0-39.52.06 27.13 27.13 0 0 0-8.25 19.7v7.29a27 27 0 0 0 8.23 19.85 27.17 27.17 0 0 0 19.79 8.17h4.55l-6.54-19.6a5.16 5.16 0 0 1-4-1.94 9.29 9.29 0 0 1-2.47-6.46V28a8.13 8.13 0 0 1 2.47-6 8.49 8.49 0 0 1 11.95 0 8.19 8.19 0 0 1 2.46 6v51a8.21 8.21 0 0 1-2.46 6 8.51 8.51 0 0 1-11.95 0 8.16 8.16 0 0 1-2.47-6v-6.09h-19.56z"/></g>
            <g id="g370"><path id="path372" class="cls-1" d="M380.81 107.08h19.95L418.59 0h-19.52l-7.15 51.9h-2.26L382.49 0H363z"/></g>
            <g id="g374"><path id="path376" class="cls-2" d="M254.07 107.08h19.59V28a27.11 27.11 0 0 0-8.24-19.73 27.74 27.74 0 0 0-39.51-.06 27 27 0 0 0-8.3 19.79v79.06h19.59V28a8.2 8.2 0 0 1 2.46-6 8.49 8.49 0 0 1 11.94 0 8.18 8.18 0 0 1 2.47 6v79.06z"/></g>
            <g id="g378"><path id="path380" class="cls-1" d="M90.52 107.08h19.93L128.31 0h-19.54l-7.16 51.9h-2.26L92.2 0H72.67z"/></g>
            <g id="g382"><path id="path384" class="cls-1" d="M28 0A27.13 27.13 0 0 0 8.29 8.24 27 27 0 0 0 0 28v51a27.21 27.21 0 0 0 8.22 19.79A27.1 27.1 0 0 0 28 107.08a27.21 27.21 0 0 0 19.81-8.18A27 27 0 0 0 56 79.05v-6.14H36.45v6.14A8.19 8.19 0 0 1 34 85a8.52 8.52 0 0 1-12 0 8.2 8.2 0 0 1-2.46-6V28A8.19 8.19 0 0 1 22 22a8.51 8.51 0 0 1 12 0 8.18 8.18 0 0 1 2.45 6v7.29A9.32 9.32 0 0 1 34 41.78a5.2 5.2 0 0 1-4 1.95l-6.54 19.6H28a27.17 27.17 0 0 0 19.79-8.17A27 27 0 0 0 56 35.31V28a27.15 27.15 0 0 0-8.19-19.71A27 27 0 0 0 28 0"/></g>
            <g id="g386"><path id="path388" class="cls-1" d="M179.11 79.05a5.92 5.92 0 0 1-1.79 4.36 6.16 6.16 0 0 1-8.72 0 5.88 5.88 0 0 1-1.78-4.36V28a6.17 6.17 0 0 1 10.5-4.36 5.94 5.94 0 0 1 1.79 4.36v51zm13.58-70.81a27.75 27.75 0 0 0-39.52.06 27.13 27.13 0 0 0-8.23 19.7v51a28 28 0 0 0 47.81 19.74A27.17 27.17 0 0 0 201 79.05V28a27 27 0 0 0-8.29-19.78"/></g>
            <g id="g390"><path id="path392" class="cls-1" d="M324.45 79.05a5.94 5.94 0 0 1-1.78 4.36 6.16 6.16 0 0 1-8.72 0 5.89 5.89 0 0 1-1.78-4.36V28a6.16 6.16 0 0 1 10.49-4.36 5.92 5.92 0 0 1 1.8 4.36v51zM338 8.24a27.74 27.74 0 0 0-39.51.06 27.13 27.13 0 0 0-8.2 19.7v51a28 28 0 0 0 56 0V28A27 27 0 0 0 338 8.24"/></g>
        </svg>
        <a class="button center">
            <span>blog</span>
        </a>
    </div>
</section>

<section class="expertise">
    <div class="expertise-column">
        <div class="expertise-column-textbox">
            <h2 class="expertise-column-textbox-heading">We are on web with</h2>
            <h3 class="expertise-column-textbox-subheading">Django / JavaScript / HTML + CSS</h3>
            <p class="expertise-column-textbox-paragraph">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Donec quis semper nisi.
                Nulla facilisi. Integer congue dictum arcu,
                at pulvinar felis tincidunt ac. Sed ultrices
                dictum elit, in aliquet mauris vulputate sit
                amet. Nulla condimentum consectetur volutpat.
                Nunc dapibus ante vitae feugiat dignissim.
            </p>
        </div>
    </div>
    <div class="expertise-column">
        <div class="expertise-column-textbox">
            <h2 class="expertise-column-textbox-heading">We are on Desktop and Mobile with</h2>
            <h3 class="expertise-column-textbox-subheading">Qt</h3>
            <p class="expertise-column-textbox-paragraph">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Donec quis semper nisi.
                Nulla facilisi. Integer congue dictum arcu,
                at pulvinar felis tincidunt ac. Sed ultrices
                dictum elit, in aliquet mauris vulputate sit
                amet. Nulla condimentum consectetur volutpat.
                Nunc dapibus ante vitae feugiat dignissim.
            </p>
        </div>
    </div>
    <div class="expertise-column">
        <div class="expertise-column-textbox">
            <h2 class="expertise-column-textbox-heading">We are on X with</h2>
            <h3 class="expertise-column-textbox-subheading">X</h3>
            <p class="expertise-column-textbox-paragraph">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Donec quis semper nisi.
                Nulla facilisi. Integer congue dictum arcu,
                at pulvinar felis tincidunt ac. Sed ultrices
                dictum elit, in aliquet mauris vulputate sit
                amet. Nulla condimentum consectetur volutpat.
                Nunc dapibus ante vitae feugiat dignissim.
            </p>
        </div>
    </div>
</section>

<section class="works">
    <div class="works-column">
        <div class="works-column-slider">
            <div class="works-column-slider-textbox">
                <h1>WORKS</h1>
                <h2>MOKA</h2>
                <p>Desktop and mobile application for drawing molecules. Built in QT.</p>
            </div>
            <a class="button button-icon">
                <span>+</span>
            </a>
        </div>
    </div>
    <div class="works-column">
        <div class="works-column-cornice">
            <svg class="works-column-cornice-round" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 743.3 741.7">
                <style>.st0{display:none;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;} .st1{fill:none;stroke:#92D0D4;stroke-miterlimit:10;} .st2{fill:#92D0D4;stroke:#92D0D4;stroke-miterlimit:10;}</style>
                <circle class="st0" cx="361.5" cy="368.3" r="362.2"/>
                <path class="st1" d="M360.3 3.7l-78 8.5-46.4 13.4-86.6 47.6-36.6 32.9L53 185.4l-41.5 80.5-6.1 28-1.2 111v20.7l7.3 32.9 40.3 92.7 51.2 75.6 87.8 52.5 26.8 11 86.6 39 25.6 9.7 36.6-2.4 129.3-34.2 39-14.6 86.6-69.5 28-28 47.6-83 19.5-42.7 24.4-71.9-2.5-35.4-3.6-29.2-23.2-68.3-34.1-65.9-15.9-29.3-67.1-79.2-15.8-12.2-39-23.2-81.7-26.8-67.1-18.3z"/>
                <circle class="st2" cx="390.9" cy="4.8" r="3.7"/>
                <circle class="st2" cx="148.5" cy="73.5" r="3.7"/>
                <circle class="st2" cx="661.5" cy="164.6" r="3.7"/>
                <circle class="st2" cx="649.3" cy="590.3" r="3.7"/>
                <circle class="st2" cx="740.6" cy="392.5" r="2.2"/>
                <circle class="st2" cx="711.5" cy="260.9" r="2.2"/>
                <circle class="st2" cx="535.3" cy="686.8" r="3.7"/>
                <circle class="st2" cx="103" cy="626.8" r="3.7"/>
                <circle class="st2" cx="4.2" cy="427" r="3.7"/>
                <circle class="st2" cx="368.3" cy="735.4" r="2.2"/>
                <circle class="st2" cx="191.1" cy="679.1" r="2.2"/>
                <circle class="st2" cx="112.7" cy="106.1" r="2.2"/>
                <circle class="st2" cx="235.9" cy="25.6" r="2.2"/>
                <circle class="st2" cx="52.9" cy="185.5" r="3.2"/>
                <circle class="st2" cx="5.4" cy="293.9" r="3.2"/>
                <circle class="st2" cx="11.7" cy="267" r="3.7"/>
                <circle class="st2" cx="51.8" cy="551.2" r="2.2"/>
                <circle class="st2" cx="329.8" cy="739" r="2.2"/>
                <circle class="st2" cx="625" cy="614.9" r="2.2"/>
                <circle class="st2" cx="697.2" cy="506.2" r="2.2"/>
                <circle class="st2" cx="539.6" cy="50" r="2.2"/>
                <circle class="st2" cx="11.5" cy="458.5" r="3.2"/>
                <circle class="st2" cx="495.7" cy="702.4" r="3.2"/>
                <circle class="st2" cx="734.7" cy="328.1" r="3.2"/>
                <circle class="st2" cx="593.7" cy="84.7" r="3.2"/>
                <circle class="st2" cx="360.3" cy="3.7" r="3.2"/>
                <circle class="st2" cx="282.3" cy="12.7" r="3.2"/>
            </svg>
            <svg class="works-column-cornice-round" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 743.3 741.7">
                <style>.st0{display:none;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;} .st1{fill:none;stroke:#92D0D4;stroke-miterlimit:10;} .st2{fill:#92D0D4;stroke:#92D0D4;stroke-miterlimit:10;}</style>
                <circle class="st0" cx="361.5" cy="368.3" r="362.2"/>
                <path class="st1" d="M360.3 3.7l-78 8.5-46.4 13.4-86.6 47.6-36.6 32.9L53 185.4l-41.5 80.5-6.1 28-1.2 111v20.7l7.3 32.9 40.3 92.7 51.2 75.6 87.8 52.5 26.8 11 86.6 39 25.6 9.7 36.6-2.4 129.3-34.2 39-14.6 86.6-69.5 28-28 47.6-83 19.5-42.7 24.4-71.9-2.5-35.4-3.6-29.2-23.2-68.3-34.1-65.9-15.9-29.3-67.1-79.2-15.8-12.2-39-23.2-81.7-26.8-67.1-18.3z"/>
                <circle class="st2" cx="390.9" cy="4.8" r="3.7"/>
                <circle class="st2" cx="148.5" cy="73.5" r="3.7"/>
                <circle class="st2" cx="661.5" cy="164.6" r="3.7"/>
                <circle class="st2" cx="649.3" cy="590.3" r="3.7"/>
                <circle class="st2" cx="740.6" cy="392.5" r="2.2"/>
                <circle class="st2" cx="711.5" cy="260.9" r="2.2"/>
                <circle class="st2" cx="535.3" cy="686.8" r="3.7"/>
                <circle class="st2" cx="103" cy="626.8" r="3.7"/>
                <circle class="st2" cx="4.2" cy="427" r="3.7"/>
                <circle class="st2" cx="368.3" cy="735.4" r="2.2"/>
                <circle class="st2" cx="191.1" cy="679.1" r="2.2"/>
                <circle class="st2" cx="112.7" cy="106.1" r="2.2"/>
                <circle class="st2" cx="235.9" cy="25.6" r="2.2"/>
                <circle class="st2" cx="52.9" cy="185.5" r="3.2"/>
                <circle class="st2" cx="5.4" cy="293.9" r="3.2"/>
                <circle class="st2" cx="11.7" cy="267" r="3.7"/>
                <circle class="st2" cx="51.8" cy="551.2" r="2.2"/>
                <circle class="st2" cx="329.8" cy="739" r="2.2"/>
                <circle class="st2" cx="625" cy="614.9" r="2.2"/>
                <circle class="st2" cx="697.2" cy="506.2" r="2.2"/>
                <circle class="st2" cx="539.6" cy="50" r="2.2"/>
                <circle class="st2" cx="11.5" cy="458.5" r="3.2"/>
                <circle class="st2" cx="495.7" cy="702.4" r="3.2"/>
                <circle class="st2" cx="734.7" cy="328.1" r="3.2"/>
                <circle class="st2" cx="593.7" cy="84.7" r="3.2"/>
                <circle class="st2" cx="360.3" cy="3.7" r="3.2"/>
                <circle class="st2" cx="282.3" cy="12.7" r="3.2"/>
            </svg>
            <svg class="works-column-cornice-round" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 743.3 741.7">
                <style>.st0{display:none;fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;} .st1{fill:none;stroke:#92D0D4;stroke-miterlimit:10;} .st2{fill:#92D0D4;stroke:#92D0D4;stroke-miterlimit:10;}</style>
                <circle class="st0" cx="361.5" cy="368.3" r="362.2"/>
                <path class="st1" d="M360.3 3.7l-78 8.5-46.4 13.4-86.6 47.6-36.6 32.9L53 185.4l-41.5 80.5-6.1 28-1.2 111v20.7l7.3 32.9 40.3 92.7 51.2 75.6 87.8 52.5 26.8 11 86.6 39 25.6 9.7 36.6-2.4 129.3-34.2 39-14.6 86.6-69.5 28-28 47.6-83 19.5-42.7 24.4-71.9-2.5-35.4-3.6-29.2-23.2-68.3-34.1-65.9-15.9-29.3-67.1-79.2-15.8-12.2-39-23.2-81.7-26.8-67.1-18.3z"/>
                <circle class="st2" cx="390.9" cy="4.8" r="3.7"/>
                <circle class="st2" cx="148.5" cy="73.5" r="3.7"/>
                <circle class="st2" cx="661.5" cy="164.6" r="3.7"/>
                <circle class="st2" cx="649.3" cy="590.3" r="3.7"/>
                <circle class="st2" cx="740.6" cy="392.5" r="2.2"/>
                <circle class="st2" cx="711.5" cy="260.9" r="2.2"/>
                <circle class="st2" cx="535.3" cy="686.8" r="3.7"/>
                <circle class="st2" cx="103" cy="626.8" r="3.7"/>
                <circle class="st2" cx="4.2" cy="427" r="3.7"/>
                <circle class="st2" cx="368.3" cy="735.4" r="2.2"/>
                <circle class="st2" cx="191.1" cy="679.1" r="2.2"/>
                <circle class="st2" cx="112.7" cy="106.1" r="2.2"/>
                <circle class="st2" cx="235.9" cy="25.6" r="2.2"/>
                <circle class="st2" cx="52.9" cy="185.5" r="3.2"/>
                <circle class="st2" cx="5.4" cy="293.9" r="3.2"/>
                <circle class="st2" cx="11.7" cy="267" r="3.7"/>
                <circle class="st2" cx="51.8" cy="551.2" r="2.2"/>
                <circle class="st2" cx="329.8" cy="739" r="2.2"/>
                <circle class="st2" cx="625" cy="614.9" r="2.2"/>
                <circle class="st2" cx="697.2" cy="506.2" r="2.2"/>
                <circle class="st2" cx="539.6" cy="50" r="2.2"/>
                <circle class="st2" cx="11.5" cy="458.5" r="3.2"/>
                <circle class="st2" cx="495.7" cy="702.4" r="3.2"/>
                <circle class="st2" cx="734.7" cy="328.1" r="3.2"/>
                <circle class="st2" cx="593.7" cy="84.7" r="3.2"/>
                <circle class="st2" cx="360.3" cy="3.7" r="3.2"/>
                <circle class="st2" cx="282.3" cy="12.7" r="3.2"/>
            </svg>
        </div>
    </div>
</section>

<section class="people"></section>

<footer></footer>

{% endblock %}
