{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="works first_section">
  <h1 class="section_heading">{{ page.section_title|richtext }}</h1>
  <h1 class="section_heading">{{ page.section_title|richtext }}</h1>
  <div class="section-subtitle js-show_subtitle">{{ page.section_subtitle|richtext }}</div>
  <div class="works-container">
  {% for project in page.projects.all %}
    <div class="work js-reveal_article">
      <div class="work-info -u-element_to_reveal">
        <h4 class="work-info-title">{{ project.name }}</h4>
        <h5 class="work-info-type">{{ project.category }}</h5>
        <p class="work-info-description">{{ project.description }}</p>
      </div>
      <figure class="work-image">
        {% image project.image original class="work-image-picture" %}
      </figure>
    </div>
  {% endfor %}
  </div>
</section>
{% endblock %}
