.people {
  background-color: $dark-grey;
  height: 100%;
  position: relative;

  @media #{$small}, #{$medium} {
    height: auto;
  }
}

.people-header {
  background: linear-gradient(to bottom, rgba(36, 37, 40, 0.95) 35%, rgba(36, 37, 40, 0.7) 65%, transparent 100%);
  color: $white;
  padding: 2.618em 5% 5%;
  position: absolute;
  width: 90%;

  span {
    color: $light-green;
  }

  @media #{$small}, #{$medium} {
    position: relative;
  }
}

.people-header-heading {
  font-style: italic;
}

.people-container {
  display: flex;
  height: 100%;

  @media #{$small}, #{$medium} {
    flex-wrap: wrap;
  }
}

.people-container-person {
  background: url("../svg/man.svg") no-repeat 65% 100%, radial-gradient(ellipse farthest-corner at 45px 45px, $light-grey -82%, transparent 50%, $dark-grey 95%);
  background-size: 20vh, auto;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: flex-grow .5s ease-in-out, background-position 0.5s ease-in-out;

  &:hover {
    background-position: 0% 100%;
    flex-grow: 6;
  }

  @media #{$medium} {
    padding-top: 50%;
    width: 50%;
  }

  @media #{$small} {
    padding-top: 100%;
    width: 100%;
  }
}

.people-container-person-description {
  bottom: 1.618em;
  color: $white;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 325px;
}

.people-container-person-description-social {
  fill: $white;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}
