.people {
  background-color: $dark-grey;
  height: 75%;
  min-height: 850px;
  position: relative;

  @media #{$small}, #{$medium}, #{$large} {
    height: auto;
  }
}

.people-header {
  background: linear-gradient(to bottom, rgba(37, 38, 41, 0.95) 35%, rgba(36, 37, 40, 0.7) 65%, transparent 100%);
  box-sizing: border-box;
  color: $white;
  padding: 4.236em 15% 5%;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  z-index: $z-people-header;

  @media #{$small}, #{$medium}, #{$large} {
    background: $dark-grey;
    padding: 2.618em 15% 5%;
    position: relative;
    text-align: center;
  }
}

.people-header .heading {
  margin: 2.618em 0;
  width: 185px;

  @media #{$small} {
    width: 120px;
  }
}

.people-header-placeholder {
  text-transform: none;
}

.people-container {
  display: flex;
  height: 100%;

  @media #{$small}, #{$medium}, #{$large} {
    flex-wrap: wrap;
  }
}

.people-container-person {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: .5s ease-in-out;

  &::before {
    content: '';

    /* The declarations below solve a bug that affects flex-box on Firefox on mobile devices */
    @media #{$small}, #{$medium}, #{$large} {
      display: block;
      height: 0;
      padding-top: 100%;
    }
  }

  &::after {
    background: linear-gradient(to left,rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%);
    border-right: 1px solid $white;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 35px;

    @media #{$small}, #{$medium}, #{$large} {
      content: 'none';
    }
  }

  &:hover {
    background-position: 0% 100%;
    flex-grow: 8;

    @media #{$big-monitor} {
      flex-grow: 6;
    }
  }

  @media #{$small}, #{$medium}, #{$large} {
    font-size: 14px;
  }

  @media #{$medium}, #{$large} {
    /* The max-width property assigns the right width to the last container in case of an odd number of people */
    max-width: 50%;
    width: 50%;
  }

  @media #{$small} {
    width: 100%;
  }
}

.people-container-person-photo {
  bottom: 0;
  left: -125px;
  position: absolute;
  transition: left $person-transition ease;

  @media #{$small}, #{$medium}, #{$large} {
    height: 100%;
    left: 0;
    width: auto;
  }

  &.left {
    left: -45px;

    @media #{$big-monitor} {
      left: 0;
    }
  }
}

.people-container-person-description {
  bottom: 1.618em;
  color: $white;
  left: 0;
  margin-left: 130px;
  overflow: hidden;
  position: absolute;
  width: 23vw;

  @media #{$big-monitor} {
    margin-left: 0;
  }

  @media #{$small}, #{$medium}, #{$large} {
    background-color: transparentize($dark-grey, 0.3);
    bottom: 0;
    display: none;
    font-size: $p-smaller;
    height: 90%;
    margin-left: 0;
    opacity: 0;
    padding: 5%;
    width: 90%;
  }
}

.people-container-person-description.fade-in {
  display: block;
  opacity: 1;
}

.people-container-person-description h2 {
  @media #{$small}, #{$medium}, #{$large} {
    font-size: $h2 / 1.618;
  }
}

.people-container-person-description h3 {
  @media #{$small}, #{$medium}, #{$large} {
    font-size: $h3 / 1.618;
  }
}

.people-container-person-description p b {
  font-weight: normal;
  color: $light-green;
}

.people-container-person-description-social {
  fill: $white;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}
