.expertise {
  background: url("../image/particles.png") repeat center;
  height: 100%;

  @media #{$small}, #{$medium} {
    height: auto;
  }
}

.expertise-container {
  align-items: center;
  display: flex;
  height: 100%;
  text-align: center;

  @media #{$small}, #{$medium} {
    flex-direction: column;
    justify-content: center;
    padding: 10% 0;
  }
}

.expertise-container-textbox {
  align-items: center;
  justify-content: center;
  width: 75%;

  @media #{$small}, #{$medium} {
    &:not(:first-child) {
      margin-top: 2.618em;
    }
  }
}

.expertise-container-textbox-heading {
  font: 1.618rem 'Roboto', sans-serif;
  line-height: 1.618em;
  text-transform: uppercase;
}

.expertise-container-textbox-paragraph {
  font-size: $h3 * 0.618;
}
