.people {
  background-color: $dark-grey;
  height: 75%;
  min-height: 750px;
  position: relative;

  @media #{$small}, #{$medium} {
    height: auto;
  }
}

.people-header {
  background: linear-gradient(to bottom, rgba(36, 37, 40, 0.95) 35%, rgba(36, 37, 40, 0.7) 65%, transparent 100%);
  color: $white;
  padding: 2.618em 5% 5%;
  position: absolute;
  width: 90%;

  span {
    color: $light-green;
  }

  @media #{$small}, #{$medium} {
    position: relative;
  }
}

.people-header-heading {
  font-style: italic;
}

.people-container {
  display: flex;
  height: 100%;

  @media #{$small}, #{$medium} {
    flex-wrap: wrap;
  }
}

.people-container-person {
  background: radial-gradient(ellipse farthest-corner at 45px 45px, $light-grey -82%, transparent 50%, $dark-grey 95%);
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: flex-grow .5s ease-in-out;

  &:hover {
    background-position: 0% 100%;
    flex-grow: 6;
  }

  @media #{$small}, #{$medium} {
    font-size: 14px;
  }

  @media #{$medium} {
    max-width: 50%;
    padding-top: 50%;
    width: 50%;
  }

  @media #{$small} {
    padding-top: 100%;
    width: 100%;
  }
}

.people-container-person-photo {
  bottom: 0;
  position: absolute;

  @media #{$small}, #{$medium} {
    height: 100%;
    width: auto;
  }
}

.people-container-person-description {
  bottom: 1.618em;
  color: $white;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 23vw;

  @media #{$small}, #{$medium} {
    background-color: transparentize($light-green, 0.3);
    bottom: 0;
    font-size: $p-smaller;
    height: 90%;
    opacity: 0;
    padding: 5%;
    transition: opacity $person-transition ease-in;
    width: 90%;
  }
}

.people-container-person-description.fade-in {
  opacity: 1;
}

.people-container-person-description h2 {
  @media #{$small}, #{$medium} {
    font-size: $h2 / 1.618;
  }
}

.people-container-person-description h3 {
  @media #{$small}, #{$medium} {
    font-size: $h3 / 1.618;
  }
}

.people-container-person-description p span {
  color: $light-green;
}

.people-container-person-description-social {
  fill: $white;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}
