.projects {
  background: $dark-grey;
  padding: 6.853em 1.618%;
}

.projects .heading {
  height: 95px;
  width: 540px;
}

.projects-container {
  margin: 6.853em auto 0;
  max-width: 1900px;
}

.projects-container-project {
  color: $white;
  margin-bottom: 1.618em;
  overflow: hidden;
  position: relative;

  &::after {
    background: rgba(32, 182, 182, 0);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: background 0.3s;
    z-index: 10;
  }

  &:hover {
    &::after {
      background: rgba(32, 182, 182, 0.65);
      transition: background 0.3s;
    }
  }

  &.landscape {
    height: 384px;
    width: 480px;
  }

  &.portrait {
    height: 600px;
    width: 480px;
  }
}

.projects-container-project-description {
  bottom: 0;
  padding: 1.618em;
  position: absolute;
  z-index: 100;

  & > * + * {
    margin-top: 0.618em;
  }
}

.projects-container-project-description p {
  font-size: 1rem;
}

.projects-container-project canvas {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
}
