.expertise {
  background: $dark-grey;
  height: 100%;
  position: relative;

  @media #{$small}, #{$medium} {
    padding-top: 6.854em;
    height: auto;
  }
}

.expertise-pixels {
  // Height includes the Expertise section height plus the height of the Projects section till the projects container
  height: calc(100% + 17.942em + 95px);
  position: absolute;
  width: 100%;
  z-index: $z-expertise-pixels;
}

.expertise .heading {
  left: 50%;
  position: absolute;
  top: 6.853em;
  transform: translateX(-50%);
  width: 560px;

  @media #{$small}, #{$medium}, #{$large} {
    position: relative;
    top: 0;
  }

  @media #{$small} {
    width: 295px;
  }
}

.expertise-container {
  align-items: center;
  display: flex;
  height: 100%;
  text-align: center;

  @media #{$small}, #{$medium} {
    flex-direction: column;
    justify-content: center;
    padding: 4.236em 0;
  }
}

.expertise-container-textbox {
  align-items: center;
  color: $white;
  justify-content: center;
  padding: 0 2.618%;
  width: 75%;

  & > * + * {
    margin-top: 0.618em;
  }

  @media #{$small}, #{$medium} {
    &:not(:first-child) {
      margin-top: 2.618em;
      padding: 0 0.618%;
    }
  }
}

.expertise-container-textbox-heading {
  font: 1.618rem 'Roboto', sans-serif;
  line-height: 1.618em;
  text-transform: uppercase;
}

.expertise-container-textbox-paragraph {
  font-size: $h3 * 0.618;
}
