.works {
  background: url("../image/squares.png");
  height: 100%;

  @media #{$small}, #{$medium}, #{$large} {
    height: auto;
    padding: 10% 0;
  }
}

.works-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;

  @media #{$small}, #{$medium}, #{$large} {
    flex-direction: column;
  }
}

.works-container-offset {
  flex-basis: 15%;

  @media #{$small}, #{$medium}, #{$large} {
    display: none;
  }
}

.works-container-project {
  flex-basis: 35%;

  @media #{$small}, #{$medium}, #{$large} {
    flex-basis: auto;
    text-align: center;
    width: 62%;
  }

  @media #{$small} {
    width: 85%;
  }
}

.works-container-project-slider {
  overflow: hidden;
  width: 100%;
}

.works-container-project-slider ul {
  height: 100%;
  left: 0;
  position: relative;
  transition: left 0.5s;
}

.works-container-project-slider ul li {
  float: left;

  &:not(:first-child) {
    display: none;
  }
}

.works-container-project-slider-slide h2 {
  margin: 0;
}

.works-container-project-slider-slide p {
  margin: 1.618em 0 0;
}

.works-container-project-navigator {
  margin: 1.618em 0;
}

.works-container-project-slider {
  @media #{$small}, #{$medium}, #{$large} {
    margin: auto;
  }
}

.works-container-project-navigator-left,
.works-container-project-navigator-right {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  width: 15px;
}

.works-container-project-navigator svg path {
  fill: $light-grey;
}

.works-container-projectimage {
  flex-basis: 47.6%;
  overflow: hidden;
  position: relative;

  @media #{$small}, #{$medium}, #{$large} {
    flex-basis: auto;
    margin-top: 4.2em;
    width: 80%;
  }
}

.works-container-projectimage-particles {
  width: 100%;

  &:nth-of-type(1),
  &:nth-of-type(2) {
    position: absolute;
    top: 0;
  }

  &:nth-of-type(2) {
    opacity: 0.75;
    transform: rotate(90deg);
  }

  &:nth-of-type(3) {
    opacity: 0.5;
    transform: rotate(135deg);
  }
}
