{% load wagtailcore_tags %}

{% slugurl "home" as homepage_link %}
{% slugurl "blog" as blog_link %}

<header class="header-blog">
  <div class="header-blog-logo">
    <a {% if homepage_link %}href="{{ homepage_link }}"{% endif %}>
      {% include "partials/svgs/logo.svg" %}
    </a>
  </div>
  <ul class="text-uppercase oswald-font">
    <li class="header-blog-nav-item"><a {% if blog_link %}href="{{ blog_link }}"{% endif %}>Blog</a>
  </ul>
</header>
<div class="blog-plane_geometry js-texture"></div>
