{% load wagtailcore_tags %}

<header class="header">
  <nav class="nav">
    <a class="nav-logo_link" href="{% slugurl 'home' %}">
      {% include "partials/svg/e9-logo.svg" %}
    </a>
    <ul class="nav-items">
      <li><a class="button glow_link is-line_appearing" href="{% slugurl 'agency' %}">Agency</a></li>
      <li><a class="button glow_link is-line_appearing" href="{% slugurl 'works' %}">Works</a></li>
      <li><a class="button glow_link is-line_appearing" href="{% slugurl 'contacts' %}">Contacts</a></li>
      <li><a class="button glow_link is-line_appearing" href="{% slugurl 'blog' %}">Blog</a></li>
    </ul>
  </nav>
</header>
