{% load wagtailcore_tags %}

<nav class="nav js-toggle_nav">
  <ul class="nav-items">
    <li class="js-toggle_nav"><a class="button glow_link is-line_appearing" href="{% slugurl 'agency' %}">Agency</a></li>
    <li class="js-toggle_nav"><a class="button glow_link is-line_appearing" href="{% slugurl 'portfolio' %}">Portfolio</a></li>
    <li class="js-toggle_nav"><a class="button glow_link is-line_appearing" href="{% slugurl 'careers' %}">Careers</a></li>
    <li class="js-toggle_nav"><a class="button glow_link is-line_appearing" href="{% slugurl 'contacts' %}">Contacts</a></li>
    <li class="js-toggle_nav"><a class="button glow_link is-line_appearing" href="{% slugurl 'blog' %}">Blog</a></li>
  </ul>
  <ul class="nav-social">
    <li>
      <a class="nav-social-icon" href="{{ options.mail }}" target="_blank">
        {% include "./svg/mail.svg" %}
      </a>
    </li>
    <li>
      <a class="nav-social-icon" href="{{ options.facebook }}" target="_blank">
        {% include "./svg/social_icons/facebook.html" %}
      </a>
    </li>
    <li>
      <a class="nav-social-icon" href="{{ options.twitter }}" target="_blank">
        {% include "./svg/social_icons/twitter.html" %}
      </a>
    </li>
    <li>
      <a class="nav-social-icon" href="{{ options.github }}" target="_blank">
        {% include "./svg/social_icons/github.html" %}
      </a>
    </li>
  </ul>
</nav>
