// Touch action animation on project items
@keyframes project_touch {
  0% { opacity: 1; transform: scale(0); }
  10% { opacity: 0; transform: scale(1); }
  100% { opacity: 0; transform: scale(1); }
}
