.center {
  margin: auto;
}

.clear-float {
  clear: both;
}

.remove {
  display: none;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.oswald-font {
  font-family: 'Oswald', sans-serif;
}

.text-white {
  color: $white;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}
