// Typography
// ----------

h1 {
  color: $light-grey;
  font-size: 1rem;
  font-weight: $weight-medium;
  text-transform: uppercase;
}

h2, h4 {
  font-size: 1.618rem;
}

h3, h5 {
  font-size: 0.78rem;
  font-weight: $weight-medium;
  text-transform: uppercase;
}

h2 {
  @media #{$max-xsmall} {
    font-size: 1rem;
    font-weight: $weight-medium;
  }
}

.body_blog h2 {
  font-weight: $weight-medium;
}

b {
  border-bottom: 2px solid currentColor;
  font-weight: $weight-normal;

  @media #{$max-xsmall} {
    border-width: 1px;
  }
}
