// Typography
// ----------

h1 {
  color: $light-grey;
  font-size: 1rem;
  font-weight: $weight-medium;
  text-transform: uppercase;
}

h2, h4 {
  font-size: 1.618rem;
}

h3, h5 {
  font-size: 0.78rem;
  font-weight: $weight-medium;
  text-transform: uppercase;
}

h2 {
  max-width: 29.03rem;

  @media #{$max-xsmall} {
    max-width: 76.999vw;
  }

  @media #{$max-xsmall} {
    max-width: none;
  }
}

.body_blog h2 {
  font-weight: $weight-medium;
}
