// Typography
// ----------

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p.smaller {
  font-size: $p-smaller;
}

.button span {
  font-size: $span-button;
}