// Navigation component
// --------------------

// [1] Leave a left margin of 0 to avoid the possibility that nav overlaps the
//     header's logo.
// [2] Nav is on an upper layer compared to the header, this way all links are
//     clickable.
.nav {
  align-items: center;
  display: flex;
  padding: 1.618rem 2.618rem 1.618rem 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: $z-nav-large;

  // [1] Nav is on a lower layer compared to the header, this way header's
  //     items are visible.
  // [2] Nav is hidden by default on small screens.
  @media #{$max-small} {
    background-color: transparentize($black, 0.02);
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 1.618rem 2.618rem;
    position: fixed;
    text-align: center;
    transform: translate3d(-100%, 0, 0); // [2]
    transition: transform 0.618s;
    width: 100%;
    z-index: $z-nav-small; // [1]
  }

  &.is-nav_shown {
    display: flex;
    transform: translateZ(0);
  }
}

.nav-items {
  display: flex;

  // [1] List's margin is 'auto' so that it takes up any empty space. This way
  //     it is vertically centered on the screen.
  @media #{$max-small} {
    flex-direction: column;
    margin: auto; // [1]
  }

  @media #{$small-landscape} {
    flex-flow: row wrap;
    justify-content: center;
  }

  // Set space among links
  & > * + * {
    margin: 0 0 0 1.618rem;

    @media #{$max-small} {
      margin: 2.618rem 0 0 0;
    }

    @media #{$max-xsmall} {
      margin: 1.618rem 0 0 0;
    }

    @media #{$small-landscape} {
      margin: 0 0 0 1.618rem;
    }
  }
}

.nav-items > li {
  color: $light-grey;
  font-weight: bold;

  @media #{$max-xsmall} {
    opacity: 0;
    transform: translate3d(-1.618rem, 0, 0);
    transition: all 0.618s;

    // For each consecutive nav link sum the transition delay, starting from a
    // second link's delay of 0.146.
    @for $i from 1 to 10 {
      & + li:nth-of-type(#{$i}) {
        transition-delay: ($i * 0.146s - 0.146s);
      }
    }
  }

  &.is-nav_shown {
    @media #{$max-xsmall} {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}

.body_blog .nav-items > li {
  @media #{$min-small} {
    color: $dark-grey;
  }
}

// Social links are shown only on small screens.
.nav-social {
  display: none;

  @media #{$max-small} {
    display: flex;
    justify-content: center;
  }
}

.nav-social > li + li {
  margin-left: 2.618rem;
}

.nav-social > li svg {
  fill: $light-grey;
  height: 1rem;
}
