// Responsive breakpoints
// ----------------------

$min-xsmall: 601px;
$min-small: 961px;
$min-medium: 1281px;
$min-large: 1920px;

$max-xsmall: 600px;
$max-small: 960px;
$max-medium: 1280px;

$small-landscape: '(max-width: 960px) and (max-height: 450px) and (orientation: landscape)';
