// Responsive breakpoints
// ----------------------

$min-xsmall: (min-width: 601px);
$min-small: (min-width: 961px);
$min-medium: (min-width: 1281px);

$max-xsmall: (max-width: 600px);
$max-small: (max-width: 960px);
$max-medium: (max-width: 1280px);
