// Color palette
// -------------

$black: hsla(225, 5%, 15%, 1);
$green: hsla(181, 51%, 47%, 1);
$white: hsla(0, 100%, 100%, 1);
$dark-grey: hsla(224, 5%, 43%, 1);
$light-grey: hsla(223, 11%, 67%, 1);
