// Variables
// ---------

// Font-sizes

$h1: 4.236rem;
$h2: 2.618rem;
$h3: 1.618rem;

$p-smaller: 0.78rem;

$span-button: 1rem;

$span-button-icon: 1.618rem;


// Z-indexes
$z-cornice: 100;
$z-texture: 10;
$z-expertise-pixels: 1000;
$z-people-header: 1000;
$z-blog-header: 10;


// Transitions

$person-transition: 0.5s;
