.container {
  color: $white;
  font: 300 18px 'Roboto', sans-serif;
  padding: 6.854em 0;

  @media #{$medium} {
    padding: 4.213em 0;
  }

  @media #{$small}, #{$small-vh} {
    padding: 2.618em 0;
  }
}

.container-text {
  margin: auto;
  width: 700px;

  @media #{$medium} {
    width: 85%;
  }

  @media #{$small} {
    width: 90%;
  }
}

.container-text .article-title {
  font: 300 4.236rem Roboto;

  @media #{$small} {
    font-size: 2.618em;
  }
}

.container-paragraphs {
  line-height: 2;
  margin-top: 2.618em;

  & > * + * {
    margin-top: 1.618em;
  }
}
