.main {
  display: flex;
  line-height: 1.618em;
}

.list {
  box-sizing: border-box;
  padding: 6.854em 20.185%;
  width: 75%;
}

.list-block:not(:first-child) {
  margin-top: 4.236em;
}

.list-block-readmore {
  color: $light-grey;
  font-family: 'Oswald', sans-serif;
}

.list-block-divider {
  background-color: $dark-green;
  height: 1px;
  margin-top: 1.618em;
  position: relative;
  width: 100%;

  &::after {
    background-color: $light-green;
    content: '';
    height: 1px;
    margin-top: 4px;
    position: absolute;
    width: 100%;
    left: -3px;
  }
}

.list-paginator {
  margin-top: 6.854em;
}