.post-detail {
  margin: auto;
  padding: 6.854em 0;
  width: 700px;

  @media #{$small}, #{$medium} {
    margin: auto;
    padding: 2.618em 2.618%;
    width: 80%;
  }
}

.post-detail .article-preview {
  margin: 1.618em 0 2.618em;
}

.post-detail .article-preview-img,
.post-detail .article-picture-img {
  width: 100%;
}