# base stuff
django<2.0
django-getenv
django-redis
dj-database-url
psycopg2-binary
pytz

# third parties
django-s3-storage
whitenoise

# the website
wagtail
pygments

# application server
uwsgi

# testing
pytest
pytest-django
pytest-xdist
pytest-cov
flake8
coverage
ipdb

# logging
python-logstash

# monitoring
newrelic
raven
