{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="contacts">
  <h1>Contacts</h1>
  <div class="contacts-links">
    <div class="contacts-links-info">
      <p>Get in touch:
        <a href="mailto:info@evonove.it">{{ settings.options.WebsiteSettings.email }}</a>
      </p>
    </div>
    <div class="contacts-links-jobs">
      <p>Work with us:
        <a href="mailto:jobs@evonove.it">{{ page.job_email }}</a>
      </p>
      <p>View positions
        <a href="{% slugurl 'careers' %}">here</a>
      </p>
    </div>
  </div>
  <div class="contacts-address">
    <p>Evonove SRL<br>
      via Fra' Filippo Longo, 16/B,
      06063, Magione (PG), Italy
    </p>
    <p>{{ settings.options.WebsiteSettings.phone }}</p>
    <p>{{ settings.options.WebsiteSettings.vat }}</p>
  </div>
</section>
{% endblock %}
