{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="contacts">
  <h1>Contacts</h1>
  <div class="contacts-links">
    <div class="contacts-links-info">
      <p>Get in touch:
        <a href="#">info@evonove.it</a>
      </p>
    </div>
    <div class="contacts-links-jobs">
      <p>Work with us:
        <a href="#">jobs@evonove.it</a>
      </p>
      <p>View positions
        <a href="#">here</a>
      </p>
    </div>
  </div>
  <div class="contacts-address">
    <p>Evonove SRL<br>
      via Fra' Filippo Longo, 16/B,
      06064, Magione (PG), Italy
    </p>
    <p>(+39) 075 843 667</p>
    <p>VAT: IT03120810548</p>
  </div>
</section>
{% endblock %}
