{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="contacts first_section">
  <div class="contacts-container">
    <div class="contacts-intro -u-element_to_reveal -u-reveal_from_bottom js-reveal_contacts">
      <p>Are you interested in learning how we can <b>help your business</b>?</p>
      <p>Do you want to develop <b>that great idea</b> you’ve always had in mind?</p>
      <p>Do you need a consultation on the <b>latest technologies</b> and learn if you can benefit from them?</p>
      <p class="contacts-intro-last">Contact us so we can have a chat! <b>We speak English and Italian.</b></p>
    </div>
    <div class="contacts-info -u-element_to_reveal -u-reveal_from_bottom js-reveal_contacts">
      <div class="contacts-info-links">
        <div class="contacts-info-links-mail_info">
          <p>Get in touch:
            <a class="glow_link" href="mailto:info@evonove.it">{{ settings.options.WebsiteSettings.email }}</a>
          </p>
        </div>
        <div class="contacts-info-links-mail_jobs">
          <p>Work with us:
            <a class="glow_link" href="mailto:jobs@evonove.it">{{ page.job_email }}</a>
          </p>
          <p>View positions
            <a class="glow_link" href="{% slugurl 'careers' %}">here</a>
          </p>
        </div>
      </div>
      <div class="contacts-info-address">
        <p>{{ settings.options.WebsiteSettings.name }}<br>
          {{ settings.options.WebsiteSettings.address|richtext }}
        </p>
        <p class="contacts-info-address-phone">Phone: {{ settings.options.WebsiteSettings.phone }}</p>
        <p class="contacts-info-address-vat">VAT: {{ settings.options.WebsiteSettings.vat }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
