{% extends "base.html" %}

{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="contacts first_section">
  <h1 class="section_heading">{{ page.section_title|richtext }}</h1>
  <h1 class="section_heading">{{ page.section_title|richtext }}</h1>
  <div class="contacts-container">
    <div class="contacts-info">
      <div class="contacts-info-links">
        <div class="contacts-info-links-mail_info">
          <p>Get in touch:
            <a class="glow_link" href="mailto:info@evonove.it">{{ settings.options.WebsiteSettings.email }}</a>
          </p>
        </div>
        <div class="contacts-info-links-mail_jobs">
          <p>Work with us:
            <a class="glow_link" href="mailto:jobs@evonove.it">{{ page.job_email }}</a>
          </p>
          <p>View positions
            <a class="glow_link" href="{% slugurl 'careers' %}">here</a>
          </p>
        </div>
      </div>
      <div class="contacts-info-address">
        <p>{{ settings.options.WebsiteSettings.name }}<br>
          {{ settings.options.WebsiteSettings.address|richtext }}
        </p>
        <p class="contacts-info-address-phone">Phone: {{ settings.options.WebsiteSettings.phone }}</p>
        <p class="contacts-info-address-vat">VAT: {{ settings.options.WebsiteSettings.vat }}</p>
      </div>
    </div>
    <div class="contacts-map"></div>
  </div>
</section>
{% endblock %}
