.sidebar{
  background-color: #f5f5f5;
  box-sizing: border-box;
  line-height: 2.618em;
  padding: 6.854em 2.618% 0;
  width: 25%;

  @media #{$small}, #{$medium} {
    padding: 2.618%;
    width: 100%;
  }
}

.sidebar-heading {
  font-family: 'Oswald', sans-serif;
  font-size: inherit;
  margin: 0 0 0.382em;
  text-transform: uppercase;
}

.sidebar-taglist li {
  color: $light-grey;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.sidebar-taglist li a {
  color: $light-grey;
}

.sidebar-taglist li a.is-active {
  color: $light-green;
}
