.header-blog-logo {
  margin: 1.618em;
  width: 150px;
}

.header-blog-background {
  background: url("../image/3d-texture.png") no-repeat 0 100%, $dark-grey;
  background-size: 100%;
  height: 350px;
  width: 100%;

  @media #{$small}, #{$medium} {
    height: 250px;
  }
}
