.sidebar{
  background-color: $wild-sand;
  box-sizing: border-box;
  line-height: 2.618em;
  padding: 6.854em 2.618vw 0;
  position: relative;
  width: 24vw;

  @media #{$small}, #{$medium} {
    bottom: 0;
    order: 1;
    padding: 0.618em 0 0;
    position: fixed;
    width: 100%;
  }
}

// [1] Height is calculated subtracting a space above and below,
// so that the tags list is centered on the sidebar
.sidebar-box {
  height: calc(100vh - (6.854em * 2)); // [1]

  @media #{$small}, #{$medium} {
    height: auto;
    margin: auto;
    width: 80%;
  }
}

.sidebar-box.is-fixed {
  @media #{$large}, #{$extra-large}, #{$big-monitor} {
    left: 77.618vw;
    position: fixed;
    right: 2.618vw;
    top: 6.854em;
  }
}

.sidebar-box-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sidebar-box-header-heading {
  font-family: 'Oswald', sans-serif;
  font-size: inherit;
  margin: 0 0 0.382em;
  text-transform: uppercase;
  user-select: none;

  @media #{$small}, #{$medium} {
    margin: 0;
  }
}

.sidebar-box-header-button {
  display: none;

  @media #{$small}, #{$medium} {
    display: block;
    transition: 0.4s;
    width: 15px;
  }
}

.sidebar-box-header-button.is-shown {
  transform: rotate(180deg);
}

.sidebar-box-header-button.is-shown.is-open {
  transition: none;
}

// [1] The tag list height includes its margin-top and the heading's height
// [2] The tag list is not scrollable by default
.sidebar-box-taglist {
  max-height: calc(100% - 54px - 0.618em); // [1]
  margin-right: -1.618em;
  overflow-y: hidden; // [2]
  padding-top: 0.618em;
  transition: max-height 0.5s 0s, visibility 0s 0.38s;
  width: 100%;

  &.is-hover {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    left: -3px;
    position: relative;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $light-grey;
  }

  // [1] Align the scrollbar with the arrow
  @media #{$small}, #{$medium} {
    height: auto;
    margin-bottom: 0.618em;
    max-height: 0;
    overflow-y: auto;
    visibility: hidden;
    width: calc(100% - 4px); // [1]
  }
}

.sidebar-box-taglist.is-shown {
  max-height: 105px;
  transition: max-height 0.5s 0s, visibility 0.5s 0s;
  visibility: visible;
}

.sidebar-box-taglist.is-shown.is-open {
  transition: none;
}

.sidebar-box-taglist-tag {
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  padding-right: 1.618em;
  position: relative;
  text-transform: uppercase;
}

.sidebar-box-taglist-tag a {
  color: $light-grey;

  &:hover {
    color: $light-green;
  }
}

.sidebar-box-taglist-tag-close {
  height: 14px;
  position: absolute;
  right: 15px;
  top: -2px;
  width: 14px;
}
.sidebar-box-taglist li a.is-active {
  color: $light-green;
}

// Mask tags list when user has scrolled to the bottom
.sidebar-tags_mask {
  background: $wild-sand;
  bottom: 0;
  height: 6.854em;
  left: 0;
  position: absolute;
  width: 100%;

  @media #{$small}, #{$medium} {
    display: none;
  }
}
