.header-blog {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.618em;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-blog-header;
}

.header-blog-logo {
  width: 150px;
}

.header-blog-nav-item {
  display: inline-block;
  padding: 0.618em;
}

.blog-plane_geometry {
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media #{$large}, #{$medium}, #{$small} {
    height: 250px;
  }

  @media #{$smallest} {
    height: 200px;
  }

  @media #{$small-vh} {
    height: 150px;
  }
}

.blog-plane_geometry canvas {
  bottom: -50px;
  position: absolute;

  @media #{$big-monitor} {
    bottom: -200px;
  }

  @media #{$large}, #{$medium}, #{$smallest} {
    bottom: -200px;
  }

  @media #{$small} {
    bottom: -100px;
  }

  @media #{$small-vh} {
    bottom: -75px;
  }
}

// Move the plane geometry higher on Ipad
.blog-plane_geometry.js-tablet_up canvas {
  bottom: 200px;
}

// Move the plane geometry higher on Iphone and Ipod
.blog-plane_geometry.js-phone_up canvas {
  bottom: 60px;
}
