.header-blog {
  align-items: center;
  background: $dark-grey;
  display: flex;
  justify-content: space-between;
  padding: 1.618em;
}

.header-blog-logo {
  width: 150px;
}

.header-blog-nav-item {
  display: inline-block;
  padding: 0.618em;
}

.blog-background {
  background: $dark-grey;
  background-size: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media #{$small}, #{$medium} {
    height: 250px;
  }
}

.blog-background canvas {
  bottom: -100px;
  position: absolute;
}
