.sidebar{
  background-color: #f5f5f5;
  box-sizing: border-box;
  line-height: 2.618em;
  padding: 6.854em 2.618% 0;
  width: 25%;

  @media #{$small}, #{$medium} {
    order: 1;
    padding: 2.618%;
    width: 100%;
  }
}

.sidebar-heading {
  font-family: 'Oswald', sans-serif;
  font-size: inherit;
  margin: 0 0 0.382em;
  text-transform: uppercase;
}

.sidebar-taglist-tag {
  color: $light-grey;
  cursor: pointer;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  padding-right: 1.618em;
  position: relative;
  text-transform: uppercase;
}

.sidebar-taglist-tag a {
  color: $light-grey;
}

.sidebar-taglist-tag-close {
  height: 14px;
  position: absolute;
  right: 15px;
  top: -2px;
  width: 14px;
}
.sidebar-taglist li a.is-active {
  color: $light-green;
}
