.main {
  display: flex;
  line-height: 1.618em;

  @media #{$small}, #{$medium} {
    flex-direction: column;
  }
}

.list {
  box-sizing: border-box;
  padding: 6.854em 20.185%;
  width: 75%;

  @media #{$small}, #{$medium} {
    margin: auto;
    order: 2;
    padding: 2.618em 2.618%;
    width: 80%;
  }
}

.list-block:not(:first-child) {
  margin-top: 4.236em;
}

.article-preview {
  margin-top: 1.618rem;
}

.article-preview-post {
  font-family: 'Merriweather', serif;
}

.list-block-readmore {
  color: $light-grey;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  margin-top: 1.618rem;

  &:visited {
    color: $light-grey;
  }
}

.list-block-divider {
  background-color: $dark-green;
  height: 1px;
  margin-top: 1.618em;
  position: relative;
  width: 100%;

  &::after {
    background-color: $light-green;
    content: '';
    height: 1px;
    margin-top: 4px;
    position: absolute;
    width: 100%;
    left: -3px;
  }
}

.list-paginator {
  margin-top: 6.854em;
}
