.article-title {
  font-weight: 700;
  line-height: 1em;
  margin: 0.382em 0;
}

.article-meta {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.article-meta-author {
  color: $light-green;
}

.rich-text {
  font-family: 'Merriweather', serif;
  line-height: 1.618;
}

.article-preview,
.article-picture {
  margin: 1.618em 0;
}
