{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-touch-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-touch-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon-180x180.png' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'favicon-194x194.png' %}" sizes="194x194">
        <link rel="icon" type="image/png" href="{% static 'favicon-96x96.png' %}" sizes="96x96">
        <link rel="icon" type="image/png" href="{% static 'android-chrome-192x192.png' %}" sizes="192x192">
        <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">

        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static 'mstile-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {% include 'partials/footer.html' with options=settings.options.WebsiteSettings %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% include "analytics/google.html" %}
        {% block extra_analytics %}
            {# Add per page analytics #}
        {% endblock %}
    </body>
</html>
