{% load static wagtailuserbar %}
{% load json_filter %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="{{ self.search_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

    <!-- Typekit typefaces -->
    <script src="https://use.typekit.net/bmj4bjl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- open graph -->
    <meta property="og:type" content="website" />
    <meta property="locale" content="en_US" />
    <meta property="og:title" content="{{ self.seo_title }}" />
    <meta property="og:url" content="{{ self.full_url }}" />
    <meta property="og:description" content="{{ self.search_description}}" />
    <meta property="og:site_name" content="Evonove" />
    {% if self.slug == "home" %}
      <meta property="og:image" content="{% static 'images/evonove-og.jpg' %}" />
    {% endif %}

    <!-- twitter open graph -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{{ self.seo_title }}" />
    <meta property="twitter:description" content="{{ self.search_description }}" />

    <!-- Google Plus sharing API -->
    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'en-US'}
    </script>

    <!-- Twitter sharing API -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% if self.linked_data %}
    <!-- Structured Data -->
      <script type="application/ld+json">{{ self.linked_data|json }}</script>
    {% endif %}

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    {% block extra_css %}
      {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include 'partials/sharing_scripts/facebook-sdk.html' %}

    {% wagtailuserbar %}

    {% include 'partials/header.html' with options=settings.options.WebsiteSettings %}
    {% include 'partials/nav.html' with options=settings.options.WebsiteSettings %}

    <main class="main">
      {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' with options=settings.options.WebsiteSettings %}

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/bundle.js' %}"></script>

    {% block extra_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/86/three.min.js"></script>
        <script type="text/javascript" src="{% static 'js/orbit-control.js' %}"></script>

        {% include 'partials/3d_shaders/fragment-shader.html' %}

        {% include 'partials/3d_shaders/vertex-shader.html' %}
    {% endblock %}

    {% include "analytics/google.html" %}
    {% block extra_analytics %}
      {# Add per page analytics #}
    {% endblock %}
  </body>
</html>
