// Palette
// -------

$dark-grey: hsla(225, 5%, 15%, 1);
$light-grey: hsla(222, 9%, 63%, 1);
$wild-sand: hsla(0, 0%, 96%, 1);
$white: hsla(0, 100%, 100%, 1);
$light-green: hsla(180, 70%, 42%, 1);
$dark-green: hsla(181, 51%, 26%, 1);
