{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="hiring">
  <div class="hiring-positions">
    <h1>{{ page.section_title|richtext }}</h1>
    <h2>{{ page.section_subtitle|richtext }}</h2>
    <div class="hiring-intro">
      {{ page.intro|richtext }}
    </div>
    {% for job in page.jobs.all %}
    <div class="position">
      <h3>{{ job.position }}</h3>
      <h4>Requirements</h4>
      {{ job.description|richtext }}
      <h4>Responsibilities</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet</li>
      </ul>
      <a class="button glow_link" href="mailto:jobs@evonove.it">Apply for this job</a>
    </div>
    {% endfor %}
    <div class="hiring-outro">
      <p>Or, if you have something to propose to us, feel free to write us an email. We are always in the lookout for talent!</p>
    </div>
  </div>
  <aside class="position-selector">
    <h4>Available positions</h4>
    <div class="position-selector-container">
      {% for job in page.jobs.all %}
        <div class="position-selector-title u-capitalize">{{ job.position }}</div>
      {% endfor %}
    </div>
  </aside>
</section>
{% endblock %}
