{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}
<section class="hiring">
  <div class="hiring-container">
    <h1>{{ page.section_title|richtext }}</h1>
    <h2>{{ page.section_subtitle|richtext }}</h2>
    <div class="hiring-intro">
      <p>Hi there,</p>
      <p>{{ page.description|richtext }}</p>
    </div>
    {% for job in page.jobs.all %}
    <div class="job">
      <h4>{{ job.position }}</h4>
      <p>{{ job.description|richtext }}</p>
    </div>
    {% endfor %}
  </div>
  <aside class="job-selector">
    <h3>Available positions</h3>
    {% for job in page.jobs.all %}
     <div class="job-selector-title">{{ job.position }}</div>
    {% endfor %}
  </aside>
</section>
{% endblock %}
